.vscode/**
.vscode-test/**
src/**
!src/
!src/animation/
!src/animation/sit/
!src/animation/sit/**
!src/animation/walk/
!src/animation/walk/**
!src/animation/jump/
!src/animation/jump/**
!src/talk/
!src/talk/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
