.vscode/**
.vscode-test/**
src/**
!src/
!src/animation/
!src/animation/sit/
!src/animation/sit/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
